services:
  sim:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: tb3-nav2-slam-explorer:humble-harmonic
    container_name: tb3_nav2_slam_explorer
    tty: true
    stdin_open: true

    environment:
      - ROS_DISTRO=humble
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

      # WSLg GUI
      - DISPLAY=${DISPLAY:-:0}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY:-wayland-0}
      - XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
      - PULSE_SERVER=/mnt/wslg/PulseServer
      - QT_QPA_PLATFORM=wayland
      - QT_X11_NO_MITSHM=1

    volumes:
      - .:/home/ros/project:rw
      - /mnt/wslg:/mnt/wslg
      - /usr/lib/wsl:/usr/lib/wsl:ro
      - /tmp/.X11-unix:/tmp/.X11-unix
